<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{styles.css}">
    <title>Document</title>
</head>
<body>
    
    <div class="logo" th:fragment="navbar">
        <h1>Loja Geek</h1>
    </div>
    <div class="options">
        <ul>
            <li>Home</li>
            <li>Sobre</li>
            <li>Contato</li>
        </ul>
    </div>


</body>
</html>